$mainFont:                  'AvertaStd-Regular';
$semi-bold:                 'AvertaStd-Semibold';
$bold:                      'AvertaStd-Bold';

$sidebar-text-color:        #8B96BE;
$text-color-white:          #FDFDFF;
$body-text-color:           #7781A8;
$card-text-color:           #9fa9d2;
$purple-gradient:           linear-gradient(90deg, rgba(131,71,215,1) 0%, rgba(163,95,227,1) 35%, rgba(192,119,238,1) 100%);
$btn-grey:                  #262C41;
$black-text:                #020204;

$dark-grey:                 #0E101A;
$light-grey:                #131621;
$lighter-grey:              #262C41;

$body-text-white:           rgba(255, 255, 255, 0.92);
$bg-color-light-grey:       #414969;
$card-bg-color:             #191D2C;

$btn-gradient-color:        linear-gradient(10deg, rgb(131, 71, 215) 0%, rgb(163, 95, 227) 50%, rgb(192, 119, 238) 100%);
$btn-grey-gradient-color:   linear-gradient(24.13deg, rgba(89, 101, 158, 0.5) 0%, rgba(139, 153, 221, 0.5) 100%);;

$purple:                    #8749DC;
$purple-light:              #c077ee;
$border-dark:               #21273A;
$btn-border-grey:           #262C41;
$dark-blue:                 #223241;

$border-radius:             10px;
$border-radius-sm:          5px;
$border-radius-round:       50%;

$blue:                      #40409f;

// calendar
$active-tournament:         #7ED4E7;
$future-tournament:         #c077ee;
$finished-tournament:       #666666;

$today:                     #304F69;

// graph
$graph-green:               #6FCF97;
$graph-orange:              #F2994A;
$graph-red:                 #EB5757;

$tableWidth                 : 768px;





