$mainFont:                  'Syne', sans-serif;

$sidebar-text-color:        #8B96BE;
$main-text-color-white:     #FDFDFF;
$body-text-color:           #7781A8;
$purple-gradient:           linear-gradient(10deg, rgb(131, 71, 215) 0%, rgb(163, 95, 227) 50%, rgb(192, 119, 238) 100%);
$btn-grey:                  #262C41;

$dark-grey:                 #131621;
$light-grey:                #1A202C;

$purple:                    #8749DC;
$border-dark:               #21273A;



