$mainFont:                  'Syne-Regular'; // 400
$medium:                    'Syne-Medium'; // 500
$semi-bold:                 'Syne-SemiBold'; // 600
$bold:                      'Syne-Bold'; // 700

$sidebar-text-color:        #8B96BE;
$text-color-white:          #FDFDFF;
$body-text-color:           #7781A8;
$card-text-color:           #9fa9d2;
$purple-gradient:           linear-gradient(90deg, rgba(131,71,215,1) 0%, rgba(163,95,227,1) 35%, rgba(192,119,238,1) 100%);
$btn-grey:                  #262C41;
$black-text:                #020204;

$dark-grey:                 #0E101A;
$light-grey:                #131621;
$lighter-grey:              #262C41;

$body-text-white:           rgba(255, 255, 255, 0.92);
$bg-color-light-grey:       #414969;
$card-bg-color:             #191D2C;

$btn-gradient-color:        linear-gradient(10deg, rgb(131, 71, 215) 0%, rgb(163, 95, 227) 50%, rgb(192, 119, 238) 100%);
$btn-grey-gradient-color:   linear-gradient(24.13deg, rgba(89, 101, 158, 0.5) 0%, rgba(139, 153, 221, 0.5) 100%);;

$purple:                    #8749DC;
$purple-light:              #c077ee;
$border-dark:               #21273A;
$btn-border-grey:           #262C41;
$dark-blue:                 #223241;

$border-radius:             10px;
$border-radius-sm:          5px;
$border-radius-round:       50%;

$blue:                      #40409f;

// calendar
$active-tournament:         #7ED4E7;
$future-tournament:         #F372D7;
$finished-tournament:       #666666;

$today:                     #304F69;

// graph
$graph-green:               #6FCF97;
$graph-orange:              #F2994A;
$graph-red:                 #EB5757;

$tableWidth:                820px;

                  // light mode
// backgrounds
$bg-body-LM:                #FFF;
$bg-secondary-LM:           #EDF3F7;

// colors
$section-title-color-LM:    #080D12;
$card-title-color-LM:       #141E28;
$card-text-color-LM:        #223241;

$nav-item-color-LM:         #141E28;
$nav-active-item-color-LM:  #FFFFFF;
$text-color-white-LM:       #FFFFFF;
$prize-name-LM:             #304F69;

$info-name-color:           #304F69;
// borders
$main-border-color-LM:      #B9CEDF;
$info-item-bg:              #BEE9F3;
$border-pink:               #F7A1E4;

// card
$card-bg-LM:                #DCE6EF;
$expires-in-bg:             #8D0C71;

// button
$btn-primary-bg-color-LM:   #EE3EC8;
$btn-border-color-LM:       #EE3EC8;
$btn-prize-bg-color-LM:     #EDF3F7;

$btn-primary-color-LM:      #FFFFFF;
$btn-secondary-color-LM:    #080D12;
$btn-prize-color-LM:        #223241;

$pagination-active-btn-bg:  #BEE9F3;
$pagination-btn-border:     #CCCCCC;

// progress
$blue-gradient:             linear-gradient(90deg, rgba(64,106,140,1) 35%, rgba(115,157,191,1) 100%);
// dark mode
$description-color-DM:      #E6E6E6;
$prize-name-DM:             #BEE9F3;
$prize-btn-bg-DM:           #0F1921;
$prize-btn-color-DM:        #EDF3F7;

$card-bg-DM:                #141E28;
$border-color-DM:           #406A8C;

$modal-bg-DM:               #141E28;

$tabs-bg-DM:                #223241;
$active-tab-bg_DM:          #2F0426;

$white-color-DM:            #FFF;
$description-color-DM:      #E6E6E6;

$border-color-DM:           #223241;
$progress-bg-DM:            #223241;





