@font-face {
    font-family: 'AvertaStd-Regular';
    src: url("../fonts/AvertaStd-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'AvertaStd-Semibold';
    src: url("../fonts/AvertaStd-Semibold.ttf") format('truetype');
}

@font-face {
    font-family: 'AvertaStd-Bold';
    src: url("../fonts/AvertaStd-Bold.ttf") format('truetype');
}