@font-face {
    font-family: 'AvertaStd-Regular';
    src: url("../fonts/AvertaStd-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'AvertaStd-Semibold';
    src: url("../fonts/AvertaStd-Semibold.ttf") format('truetype');
}

@font-face {
    font-family: 'AvertaStd-Bold';
    src: url("../fonts/AvertaStd-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Syne-Regular';
    src: url("../fonts/Syne/Syne-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Syne-Medium';
    src: url("../fonts/Syne/Syne-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Syne-SemiBold';
    src: url("../fonts/Syne/Syne-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Syne-Bold';
    src: url("../fonts/Syne/Syne-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Syne-ExtraBold';
    src: url("../fonts/Syne/Syne-ExtraBold.ttf") format('truetype');
}