@import 'utils/vars';
@import './_variables';
@import 'utils/reset';
@import "fonts";

html {
  background: #ebebeb;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea,
select,
button {
  border: 1px solid $border-base;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  padding: 20px 16px 20px 20px;
}
@media screen and (max-width: 820px) {
  .page-content {
    height: calc(100vh - 130px);
    padding: 0;
  }
}

.details-content {
  margin: 20px auto;
}


.content-wrapper {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: $tableWidth) {
  .content-wrapper {
    width: 100%;
    //height: auto;
    display: flex;
    flex-direction: column;
  }
}

.dark {
  background: $primary-bg-light-DM;
  color: $txt-white-transparent;
}

.light {
  background: $primary-bg-light-LM;
  color: $txt-title;
 }

.spinner-wrapper {
  width: 100vw;
  position: relative;

  .spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 80px;
    height: 80px;
  }
}

.spinner-wrapper-global {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 21, 0.25);
}

.section-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 25px;

  @media screen and (max-width: $phoneWidth) {
    flex-wrap: wrap;
    padding: 15px 0 ;
  }
}

.section {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

@import 'common/_common';