.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 29px 33px 15px 46px;
  background: $primary-bg;
  border-bottom: 0.2px solid $border-header;

  &__user-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @media screen and (max-width: $desktopWidth) {
    padding: 9px 22px;

    &__mobile-logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;
    }
  }
}