.mission-card {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  position: relative;
  display: flex;
  background: #5951AA;
  border-radius: 16px;
  align-items: flex-start;
  width: 100%;
  height: auto;
  overflow: hidden;

  .card-image {
    display: block;
    max-width: 200px;
    min-width: 130px;
    width: 200px;
    height: 100%;
    border-radius: 16px 0 0 16px;
    background-size: cover;
    background-position: center;

    & > img {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: $phoneWidth){
      display: block;
      width: 130px;
      height: 184px;
      object-fit: cover;
    }
  }

  .mission-data {
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    padding: 13px 10px 10px 20px;

    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: #FFFBFF;
      text-align: start;
      margin: 0;
    }

    .prize-fund {
      display: flex;
      align-items: flex-start;

      .fund {
        margin-left: 5px;
      }
    }
  }

  .countdown-wrapper {
    max-width: 185px;
  }

  .mission-progress {
    margin-top: 10px;
  }

  .register-btn {
    align-self: flex-end;
  }

  .progress {
    width: 185px;
    background: linear-gradient(180deg, #EDDFF3 0%, #E8EAEC 100%);
    border-radius: 24px;

    .progress-bar {
      background: linear-gradient(180deg, #1ECE30 0%, #188A2A 100%);
      box-shadow: inset 0 2.29752px 4.59504px rgba(255, 255, 255, 0.25), inset 0px -2.29752px 4.59504px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
    }
  }
}