.sidebar {
  height: 100%;
  min-width: 280px;

  @media screen and (max-width: $smDesktopWidth) {
    display: none;
  }

  @media screen and (max-width: $desktopWidth) {
    min-width: 200px;
  }

  .brand {
    padding: 39px 0 22px 57px;
    background: inherit;

    .logo-wrapper {
      width: 124px;
      height: 31px;
      object-fit: cover;
      overflow: hidden;

      .logo {
        width: 100%;
        height: 100%;
      }
    }
  }

  .sidebar-nav {
    height: 100%;
    background: inherit;
    padding-top: 60px;
  }
}


.sidebar-light-mode {
  background: $primary-bg-dark-LM;
}

.sidebar-dark-mode {
  background: $primary-bg-dark-DM;
}