.section-title {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: start;

  @media screen and (max-width: $phoneWidth) {
    padding-bottom: 7px;
  }
}
