
.tournament-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
.tournament-card-wrapper {
  margin: 0 0 10px;
  width: 33%;

  @media screen and (max-width: $desktopWidth) {
    width: 33%;
  }
  @media screen and (max-width: $smDesktopWidth) {
    width: 49%;
  }
  @media screen and (max-width: $phoneWidth) {
    width: 100%;
  }
}

.tournament-card {
  width: 100%;
  font-family: $mainFont;
  font-style: normal;
  position: relative;
  display: flex;
  padding: 20px 15px 24px 30px;
  background: $card-bg-gradient;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 30px;

  @media screen and (max-width: $desktopWidth) {
    padding: 10px 7px 10px 15px;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .status {
    position: absolute;
    top: 0;
    left: 0;
  }

  .left {
    display: flex;
    flex-direction: column;

    .logo-casino {
      width: 196px;
      height: 134px;
      margin-bottom: 15px;
      background: #3c3a62;
      border-radius: 10px;
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tournament-data {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    max-width: 183px;

    @media screen and (max-width: $desktopWidth){
      padding-left: 12px;
    }

    @media screen and (max-width: $phoneWidth){
      max-width: 140px;
    }

    .main-data {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #FFFBFF;
        max-width: 158px;
        min-width: 158px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: start;

        @media screen and (max-width: $desktopWidth) {
          font-weight: 600;
          font-size: 14px;
          max-width: 145px;
          min-width: 145px;
        }
        @media screen and (max-width: $tableWidth) and (min-width: $smTableWidth) {
          max-width: 80px;
          min-width: 70px;
        }
      }

      &__rate {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #E4E4E4;
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: $desktopWidth) {
          max-width: 135px;
          min-width: 135px;
        }
      }
    }

    .prize {
      display: flex;
      align-items: center;
      margin: 12px 0 20px;

      @media screen and (max-width: $desktopWidth) {
        margin: 12px 0 10px;
      }

      .prize_data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: #E4E4E4;

          @media screen and (max-width: $desktopWidth){
            font-size: 12px;
            line-height: 17px;
          }
        }

        &__price {
          font-weight: 700;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF;

          @media screen and (max-width: $tableWidth){
            font-size: 16px;
            line-height: 17px;
            padding-top: 5px;
          }
        }
      }

      .prize_img {
        width: 55px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        padding-left: 20px;

        @media screen and (max-width: $tableWidth){
          padding-left: 0;
          width: 35px;
          height: 50px;
        }
      }
    }
  }
}